/* fonts start */

    /* Nav item font */
    @font-face {
        font-family: "Aldrich-Regular";
        src: url("../assets/fonts/Aldrich-Regular.ttf");
    }

    /* Head title font */
    @font-face {
        font-family: "Acme-Regular";
        src: url("../assets/fonts/Acme-Regular.ttf");
    }

    /* body font */
    @font-face {
        font-family: "Alegreya-Regular";
        src: url("../assets/fonts/AlegreyaSans-Regular.ttf");
    }
/* fonts end */

/* Defaults Start */

html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    background: rgb(217, 231, 231);
    font-family: "Alegreya-Regular", Arial, sans-serif;
}

a{
    text-decoration: none;
    outline: none;
    color: white;
}

.spacer{
    flex:1;
}

.titles{
    margin-left: 5%;
    font-weight: 700;
    font-size: 50px;
    color:rgb(40, 40, 41);
}

/* Defaults End */

#navbar{
    width: 100%;
    height: 70px;
    background: rgb(40, 40, 41);
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 1500;
    font-family: "Aldrich-Regular", Arial, sans-serif;
}

#headTitle{
    font-size: 30px;
    font-weight: 600;
    padding-left: 5%;
    transition: 0.5s;
    color: rgb(240, 240, 240);
    font-family: "Acme-Regular", Arial, sans-serif;
}

#navOptions{
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    width: 40%;
    padding-right: 5%;
    transition: 0.5s;
}

#navOptions a{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    height: 5%;
    margin-left: 5%;
    line-height: 280%;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(240, 240, 240);
}

#hamburger{
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 1%;
    cursor: pointer;
    transition: 0.5s;
}

.hamLine{
    position: relative;
    top: 0;
    right: 0;
    background: rgb(160, 157, 157);
    border-radius: 5px;
    width: 30px;
    margin: 2px;
    height: 5px;
    transition: 0.5s;
}

#sidebar{
    position: fixed;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    right: -310px;
    bottom: 0;
    width: 300px;
    background: rgba(40, 40, 41);
    height: calc(100% - 50px);
    z-index: 1000;
    -webkit-box-shadow: -2px 0px 3px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: -2px 0px 3px 2px rgba(0,0,0,0.51);
    box-shadow: -2px 0px 3px 2px rgba(0,0,0,0.51);
    transition: 0.5s;
    font-family: "Aldrich-Regular", Arial, sans-serif;
    -webkit-backface-visibility: hidden;
}

#sidebar #sideAvatar{
    width: 50%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 20%;
    filter:grayscale(20%);
}

#sidebar #sideNavOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 50%;
    margin-bottom: 70px;
}

#sidebar #sideNavOptions a{
    display: table;
    width: 95%;
    height: 30px;
    padding-top: 10px;
    font-size: 120%;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.5s;
    color: rgb(240, 240, 240);
}

#blocker{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 500;
    height: calc(100% - 50px);
    bottom: 0;
    background: rgba(40, 40, 41, 0.425);
    
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100% - 70px);
    background: rgba(63, 65, 65, 0.747) url("../assets/img/introbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    filter: grayscale(70%);
    background-position: center;
}

#intro .info{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
}

#intro .info .fullname{
    font-size: 100px;
    font-weight: 300;
    color: #d1d1d1f1;
    display: table;
    margin: 0;
    /* height: 200px; */
    padding:40px;
    background: rgb(40, 40, 41);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

#intro .info .fullname span{
    color: gold;
}

#intro .info .forte{
    
    margin-top:5px;
}

#intro .info .forte p{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    display: table;
    margin: 0;
    font-weight: 300;
    font-size: 50px;
    padding:20px;
    border-radius: 5px;
    background: rgba(209, 209, 209, 0.945);
}

#exp{
    width: 100%;
    padding-bottom: 5%;
    padding-top:1%;
}

#exp #expList{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-left: 10%;
    margin-right: 10%;
}

#exp #expList .expItems{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
    background: rgb(255, 255, 255);
    padding:1%;
    flex-basis: 60%;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);

}

#exp #expList .expItems .expTitleDiv{
    display: flex;
    font-weight: 700;
}

#skills{
    width: 100%;
    padding-top:1%;
    padding-bottom: 5%;
    background: rgb(40, 40, 41);
    color: rgb(173, 173, 168);
}

#skills h1{
    color: #ddd191;
}

#skills #skillDiv{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 80%;
    margin-left: 10%;
    padding: 1%;
}

#skills #skillDiv .skillCol{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    flex-basis: 100%;
}

#skills #skillDiv .skillSize{
    width: 100%;
}

#skills #skillDiv .skillSize h3{
    padding: 0;
    margin-bottom: 10px;
}

#skills #skillDiv .loading{
    height: 20px;
    width: 100%;
    border-radius: 10px;
    background: rgba(131, 131, 128, 0.568);
}

#skills #skillDiv .loading .progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(40, 40, 41);
    font-weight: 700;
    height: 100%;
    font-size: 12px;
    border-radius: 10px;
    background: rgb(175, 175, 177);
}

#work{
    width: 100%;
    padding-bottom: 5%;
    padding-top:1%;
}

#work #workDiv{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 80%;
    margin-left: 10%;
}

#work #workDiv .workCateg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

#work #workDiv .workCateg .workList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: 100%;
}

#work #workDiv .workCateg .workList .workItem{
    margin: 1%;
    border-radius: 10px;
    background-size: 100% 100%;
    background-position: center;
    width: 570px;
    height:420px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}


#work #workDiv .workCateg .workList .workItem .workBlocker{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(41, 41, 40, 0.1);
    display: flex;
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle{
    width: 100%;
    height: 40%;
    background: rgb(41, 41, 40,0.95);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2%;
    transition: height 0.3s ease-in;
    /* margin: 1%; */
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle.is-click{
    height: 95%;
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle p{
    text-align: center;
    color:rgba(209, 209, 209, 0.945);
    margin: 2% 0 1% 0;
    font-size-adjust: inherit;
    font-size: 25px;
    font-weight: bold;
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv{
    position: relative;
    opacity: 0;
    margin: 0;
    transition: 0.3s ease-in;
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv.is-click{
    margin: 2%;
    opacity: 1;
}


#work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc{
    position: absolute;
    font-weight: normal;
    font-size: 16px;
    text-align: start;
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc b{
    margin-right: 5px;
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions{
    width: 100%;
    display: flex;
    margin: auto;
    margin-bottom: 2%;
    /* margin: 1%; */
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 2%;
    margin: 1%;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgba(209, 209, 209, 0.945);
    color: rgba(209, 209, 209, 0.945);
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a{
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 2% 0 2%;
    margin: 1%;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgba(209, 209, 209, 0.945);
    color: rgba(209, 209, 209, 0.945);
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

#about{
    width: 100%;
    padding-top:1%;
    padding-bottom: 5%;
    background: rgb(40, 40, 41);
    color: rgb(173, 173, 168);
}

#about h1{
    color: #ddd191;
}

#about #aboutDiv{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 80%;
    margin-left: 10%;
}

#about #aboutDiv #aboutImageDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 40%;
    margin: auto;
}

#about #aboutDiv #aboutImageDiv img{
    border-radius: 50%;
}

#about #aboutDiv #aboutBioDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#about #aboutDiv #aboutBioDiv #bio{
    width: 500px;
    margin: 2%;
}

#about #aboutDiv #aboutBioDiv #contact{
    width: 500px;
    margin: 2%;
}

#about #aboutDiv #aboutBioDiv #contact h3{
    margin: 3px;
}

#about #aboutDiv #aboutBioDiv #contact .contactInfo{
    border: 1px solid #ddd191;
    padding: 1%;
    margin-bottom: 2%;
    width: 90%;
}

#about #aboutDiv #aboutBioDiv #contact #social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#about #aboutDiv #aboutBioDiv #contact #social a{
    margin:3%;
}

#about #aboutDiv #aboutBioDiv #contact #social a img{
    width: 40px;
}





/* Effects start*/

.show *{
    opacity: 1;
    transition: opacity 1000ms;
}

.hide *{
    opacity: 0;
    transition: opacity 1000ms;
}

/* Effects end */

/* Hovers start */

#hamburger:hover .hamLine{
    background: rgb(85, 84, 84);
}

#sidebar #sideNavOptions a:hover{
    background: rgba(255, 255, 255, 0.473);
    color: rgb(40, 40, 41);
}

#navOptions a:hover{
    background: rgba(255, 255, 255, 0.473);
    color: rgb(40, 40, 41);
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button:hover {
    color: rgba(48, 46, 46, 0.74);
    background: rgb(192, 189, 189);
}

#work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a:hover {
    color: rgba(48, 46, 46, 0.74);
    background: rgb(192, 189, 189);
}

footer{
    text-align: center;
}


/* Hovers end */

/* Media queries start */

    /* Max Start */
    @media (max-width: 1600px) {
        #intro .info .fullname{
            font-size: 85px;
            padding:38px;
        }
        #intro .info .forte p{
            font-size: 45px;
            padding:18px;
        }
        .titles{
            margin-left: 5%;
            font-weight: 700;
            font-size: 48px;
        }
    }

    @media (max-width: 1500px) {
        #navOptions{
            width: 50%;
        }
        #exp #expList{
            flex-wrap: wrap;
        }
        #work #workDiv{
            width: 90%;
            margin-left: 5%;
        }
    }

    @media (max-width: 1400px) {
        #navOptions{
            width: 47%;
        }
        #headTitle{
            font-size: 25px;
        }
        #intro .info .fullname{
            font-size: 70px;
            padding:30px;
        }
        #intro .info .forte p{
            font-size: 40px;
            padding:15px;
        }
        .titles{
            margin-left: 5%;
            font-weight: 700;
            font-size: 45px;
        }
    }
    @media (max-width: 1319px) {
        #work #workDiv{
            width: 95%;
            margin-left: 2%;
        }
    }

    @media (max-width: 1249px) {
        #work #workDiv .workCateg .workList .workItem{
            width: 560px;
            height:410px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle p{
            font-size: 25px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc{
            font-size: 16px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button{
            height: 40px;
            padding: 2%;
            font-size: 15px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a{
            height: 38px;
            padding: 0 2% 0 2%;
            font-size: 15px;
        }
    }

    @media (max-width: 1235px) {
        #navOptions{
            width: 53%;
        }
        #headTitle{
            font-size: 20px;
        }
        #navbar{
            height: 50px;
        }
        #intro{
            height: calc(100% - 50px);
        }
    }

    @media (max-width: 1140px) {
        #navOptions{
            width: 52%;
        }
        .titles{
            margin-left: 5%;
            font-weight: 700;
            font-size: 42px;
        }
    }

    @media (max-width: 1106px) {
        #navOptions{
            width: 56%;
        }
        #intro .info .fullname{
            font-size: 60px;
            padding:20px;
        }
        #intro .info .forte p{
            font-size: 35px;
            padding:13px;
        }
        .titles{
            margin-left: 5%;
            font-weight: 650;
            font-size: 38px;
        }
    }

    @media (max-width: 1030px) {
        #navOptions{
            width: 60%;
        }
    }

    @media (max-width: 1023px) {
        #hamburger{
            display: flex;
        }

        #navOptions{
            display: none;
        }
        #sidebar{
            width: 307px;
            right: -317px;
            
        }
        #sidebar #sideNavOptions a{
            padding-top: 13px;
            font-size: 15px;
            font-weight: 600;
        }
        #exp #expList .expItems{
            flex-basis: 80%;
        }
        #skills #skillDiv .skillSize h3{
            font-size: 15px;
        }
        #skills #skillDiv .loading .progress{
            font-size: 10px;
        }
        #skills #skillDiv .loading{
            height: 16px;
        }
    }

    @media (max-width: 730px) {
        #sidebar{
            width: 292px;
            right: -302px;
           
        }
        #sidebar #sideNavOptions a{
            padding-top: 13px;
            font-size: 15px;
            font-weight: 600;
        }
        #intro .info .fullname{
            font-size: 40px;
            padding:18px;
        }
        #intro .info .forte p{
            font-size: 20px;
            padding:10px;
        }
        #skills #skillDiv{
            flex-wrap: wrap;
        }
        #work #workDiv .workCateg .workList .workItem{
            width: 550px;
            height:400px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle p{
            font-size: 22px;
            font-weight: bold;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc{
            font-size: 15px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button{
            height: 35px;
            padding: 2%;
            font-size: 13px;
        }
        
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a{
            height: 33px;
            padding: 0 2% 0 2%;
            font-size: 13px;
        }
    }
    
    @media (max-width: 660px) {
        #sidebar{
            width: 264px;
            right: -274px;
           
        }
        #sidebar #sideNavOptions a{
            padding-top: 11px;
            font-size: 15px;
            font-weight: 600;
        }
        .titles{
            margin-left: 5%;
            font-weight: 650;
            font-size: 30px;
        }
        #exp #expList .expItems{
            flex-basis: 90%;
        }
    }

    @media (max-width: 550px) {
        #sidebar{
            width: 248px;
            right: -258px;
           
        }
        #sidebar #sideNavOptions a{
            padding-top: 11px;
            font-size: 15px;
            font-weight: 600;
        }
        #intro .info .fullname{
            font-size: 35px;
            padding:15px;
        }
        #intro .info .forte p{
            font-size: 18px;
            padding:9px;
        }
        .titles{
            margin-left: 4%;
            font-weight: 650;
            font-size: 40px;
        }
        #exp #expList .expItems{
            margin: 2%;
            padding:2%;
            font-size: 16px;
        }
        #work #workDiv .workCateg .workList .workItem{
            width: 530px;
            height:370px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle p{
            font-size: 18px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc{
            font-size: 13px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button{
            height: 35px;
            padding: 2%;
            font-size: 13px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a{
            height: 33px;
            padding: 0 2% 0 2%;
            font-size: 13px;
        }
    }

    @media (max-width: 450px) {
        #sidebar{
            width: 230px;
            right: -240px;
           
        }
        #sidebar #sideNavOptions a{
            padding-top: 11px;
            font-size: 15px;
            font-weight: 600;
        }
        #intro .info .fullname{
            font-size: 30px;
            padding:10px;
        }
        #intro .info .forte p{
            font-size: 15px;
            padding:9px;
        }
        #exp #expList .expItems{
            margin: 2%;
            padding:2%;
            font-size: 14px;
            flex-basis: 100%;
        }
        #work #workDiv{
            width: 90%;
            margin-left: 5%;
        }
        #work #workDiv .workCateg .workList .workItem{
            width: 400px;
            height:300px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle p{
            font-size: 15px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc{
            font-size: 12px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button{
            height: 30px;
            padding: 1%;
            font-size: 10px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a{
            height: 28px;
            padding: 0 1% 0 1%;
            font-size: 10px;
        }
    }

    @media (max-width: 414px) {
        #sidebar{
            width: 248px;
            right: -258px;
           
        }
        #sidebar #sideNavOptions a{
            padding-top: 11px;
            font-size: 15px;
            font-weight: 600;
        }
        #exp #expList .expItems{
            margin: 2%;
            padding:2%;
            font-size: 13px;
        }
        #work #workDiv{
            width: 100%;
            margin-left: 0;
        }
        #work #workDiv .workCateg .workList .workItem{
            width: 400px;
            height:300px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle p{
            font-size: 16px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc{
            font-size: 12px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button{
            height: 30px;
            padding: 1%;
            font-size: 10px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a{
            height: 28px;
            padding: 0 1% 0 1%;
            font-size: 10px;
        }
    }

    @media (max-width: 360px) {
        #sidebar{
            width: 234px;
            right: -244px;
           
        }
        #sidebar #sideNavOptions a{
            padding-top: 10px;
            font-size: 15px;
            font-weight: 600;
        }
        #intro .info .fullname{
            font-size: 25px;
            padding:8px;
        }
        #intro .info .forte p{
            font-size: 12px;
            padding:9px;
        }
        #exp #expList .expItems{
            margin: 2%;
            padding:2%;
            font-size: 12px;
        }
        #work #workDiv{
            width: 100%;
            margin-left: 0;
        }
        #work #workDiv .workCateg .workList .workItem{
            width: 400px;
            height:300px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle p{
            font-size: 15px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemTitle .workDescDiv .workDesc{
            font-size: 12px;
            margin-bottom:0;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions button{
            height: 28px;
            padding: 1%;
            font-size: 10px;
        }
        #work #workDiv .workCateg .workList .workItem .workBlocker .workItemOptions a{
            height: 26px;
            padding: 0 1% 0 1%;
            font-size: 10px;
        }
    }

    /* Max end */

    /* Min Start */

    /* Min End */

/* Media queries end */